﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<EasyUmbracoForms.Models.EUFContactFormViewModel>

@using System.Xml.XPath
@using umbraco.cms.businesslogic.datatype
@using umbraco.editorControls.SettingControls
@using Umbraco.Core.Services
@using System.Text
@using System.Text.RegularExpressions

<script>
    $(".contact-form").validate();
</script>
    
@if (Model.Success)
{
    @Model.CurrentPage.GetPropertyValue("ThankyouMessage")
}
else
{
    if (Model.FormDocType == null)
    {
        @Html.Raw("<p>Error: Your form cannot be created as no document type has been selected.</p>")
        return;
    }
    else
    {
        <form id="@("frm" + DateTime.Now.Millisecond)" method="POST" class="contact-form">
            
            @Html.AntiForgeryToken()

            @Html.ValidationSummary()

            @foreach (PropertyGroup pg in Model.FormDocType.PropertyGroups)
            {
                <fieldset>
                    <legend>@pg.Name</legend>

                    @foreach (PropertyType pt in pg.PropertyTypes.OrderBy(x => x.SortOrder))
                    {
                        var fieldName = pt.Alias + pt.Id;

                        <div class="form-group">

                            @if (pt.PropertyEditorAlias == "Umbraco.TrueFalse")
                            {
                                <div>
                                    @CheckBox(pt.Name, fieldName)
                                </div>
                            }
                            else
                            {
                                // label
                                <label for="@fieldName" class="control-label @(pt.Mandatory ? "mandatory" : "optional")">@pt.Name :</label>

                                <div>

                                    @if (pt.PropertyEditorAlias == "Umbraco.DropDown" || pt.PropertyEditorAlias == "Umbraco.DropDownMultiple")
                                    {
                                        @DropDownList(pt.DataTypeDefinitionId, fieldName, pt.PropertyEditorAlias)
                                    }
                                    else if (pt.PropertyEditorAlias == "Umbraco.RadioButtonList")
                                    {
                                        @RadioButtonList(pt.DataTypeDefinitionId, fieldName)
                                    }
                                    else if (pt.PropertyEditorAlias == "Umbraco.CheckBoxList")
                                    {
                                        @CheckBoxList(pt.DataTypeDefinitionId, fieldName)
                                    }
                                    else if (pt.PropertyEditorAlias == "Umbraco.TextboxMultiple" || pt.PropertyEditorAlias == "Umbraco.TinyMCEv3")
                                    {
                                        @TextArea(pt.Name, fieldName, pt.Mandatory)
                                    }
                                    else if (pt.PropertyEditorAlias == "Umbraco.Integer")
                                    {
                                        @TextBox(pt.Name, fieldName, "number", pt.Mandatory)
                                    }
                                    else if (pt.PropertyEditorAlias == "Umbraco.Date")
                                    {
                                        @TextBox(pt.Name, fieldName, "date", pt.Mandatory)
                                    }
                                    else if (pt.PropertyEditorAlias == "Umbraco.DateTime")
                                    {
                                        @TextBox(pt.Name, fieldName, "datetime-local", pt.Mandatory)
                                    }
                                    else
                                    {
                                        if (pt.Name.ToLower().Contains("email"))
                                        {
                                            @TextBox(pt.Name, fieldName, "email", pt.Mandatory)
                                        }
                                        else
                                        {
                                            @TextBox(pt.Name, fieldName, "text", pt.Mandatory)
                                        }
                                    }

                                    @* show help text if exists *@
                                    @if (!string.IsNullOrEmpty(pt.Description))
                                    {
                                        <span class="help-block">@pt.Description</span>
                                    }
                                </div>
                            }
                        </div>
                    }
                </fieldset>
            }

            @* Honeypot field *@
            <label for="Url" class="optional-field website-address-field">
                <span>Website Address</span>
                @Html.TextBoxFor(model => model.Url)
            </label>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    }
}

@* HELPER FUNCTIONS *@

@helper TextBox(string propName, string fieldName, string fieldType, bool required)
{
    <input type="@fieldType" class="form-control" id="@fieldName" name="@fieldName" placeholder="@propName" value="@Request.Form[fieldName]" @(required ? "required" : "") />
}

@helper TextArea(string propName, string fieldName, bool required)
{
    <textarea rows="4" class="form-control" id="@fieldName" name="@fieldName" placeholder="@propName"  @(required ? "required" : "")>@Request.Form[fieldName]</textarea>
}

@helper CheckBox(string propName, string fieldName)
{
    <div class="checkbox">
        <label><input type="checkbox" name="@fieldName" value="1">@propName</label>
    </div>
}

@helper CheckBoxList(int dataTypeId, string fieldName)
{
    XPathNodeIterator preValues = PreValues(dataTypeId);
    while (preValues.MoveNext())
    {
        string preValueId = preValues.Current.GetAttribute("id", "");
        string preValue = preValues.Current.Value;
            <div class="checkbox">
                <input type="checkbox" id="@(fieldName + preValue)" name="@fieldName" value="@preValueId" />
                <label for="@(fieldName + preValue)">@preValue</label>
            </div>
    }
}

@helper RadioButtonList(int dataTypeId, string fieldName)
{
    XPathNodeIterator preValues = PreValues(dataTypeId);
    while (preValues.MoveNext())
    {
        string preValueId = preValues.Current.GetAttribute("id", "");
        string preValue = preValues.Current.Value;
            <div class="radiobutton">
                <input type="radio" id="@(fieldName + preValue)" name="@fieldName" value="@preValueId" />
                <label for="@(fieldName + preValue)">@preValue</label>
            </div>
    }
}

@helper DropDownList(int dataTypeId, string fieldName, string propType)
{
    <select id="@fieldName" name="@fieldName" @(propType == "Umbraco.DropDownMultiple" ? "multiple=true" : "")>
        @{
            XPathNodeIterator preValues = PreValues(dataTypeId);
            while (preValues.MoveNext())
            {
                string preValueId = preValues.Current.GetAttribute("id", "");
                string preValue = preValues.Current.Value;
                <option value="@preValueId">@preValue</option>
            }
        }
    </select>
}


@functions {
    public XPathNodeIterator PreValues(int dataTypeId)
    {
        XPathNodeIterator iterator = umbraco.library.GetPreValues(dataTypeId);
        iterator.MoveNext(); //move to first
        return iterator.Current.SelectChildren("preValue", "");
    }

    public string FieldValue(string propertyEditorAlias, string fieldName)
    {
        string fieldValue = Request.Form[fieldName];

        // get the values fro prevalue based fields
        if (propertyEditorAlias == "Umbraco.RadioButtonList"
                || propertyEditorAlias == "Umbraco.DropDown"
                || propertyEditorAlias == "Umbraco.DropDownMultiple"
                || propertyEditorAlias == "Umbraco.CheckBoxList"
            )
        {
            fieldValue = "";
            string preValues = Request.Form[fieldName];
            string[] preValueIds = preValues.Split(',');
            foreach (string preValueId in preValueIds)
            {
                if (!string.IsNullOrEmpty(fieldValue)) { fieldValue += ", "; }
                fieldValue += umbraco.library.GetPreValueAsString(Convert.ToInt32(preValueId.Trim()));
            }
        }

        return fieldValue;
    }
}